.header_name {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.nav {
    display: block;
    margin: 20px 0 10px;
    height: 30px;
    &__list {
        list-style: none;
    }
    &__item {
        float: left;
        padding-top: 10px;
        margin-right: 20px;
    }
}